In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

In [8]:
df = pd.read_csv('archive\TeamMatchTbl.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\carpa\AppData\Local\Temp\ipykernel_23940\984037046.py:1: SyntaxWarning: invalid escape sequence '\T'
  df = pd.read_csv('archive\TeamMatchTbl.csv')

,TeamID,MatchFk,B1Champ,B2Champ,B3Champ,B4Champ,B5Champ,R1Champ,R2Champ,R3Champ,...,BlueDragonKills,BlueTowerKills,BlueKills,RedBaronKills,RedRiftHeraldKills,RedDragonKills,RedTowerKills,RedKills,RedWin,BlueWin
0,1,EUW1_7565751492,897,154,157,51,902,164,5,25,...,1,3,13,1,0,3,8,26,1,0
1,2,EUW1_7565549583,82,238,157,236,89,6,254,127,...,3,10,39,0,1,1,3,33,0,1
2,3,EUW1_7564803077,516,28,4,498,235,23,64,38,...,2,7,27,2,0,3,8,37,1,0
3,4,EUW1_7564368646,54,34,59,498,103,61,25,55,...,0,4,55,0,0,0,0,39,0,1
4,5,EUW1_7564332041,12,800,111,150,142,141,101,55,...,0,0,42,0,0,0,0,0,0,1

In [ ]:
df.info()

- IDs e identificação: `TeamID`, `MatchFk`;

- Campeões do time Azul: `B1Champ`, `B2Champ`, `B3Champ`, `B4Champ`, `B5Champ`;
- Campeões do time Vermelho: `R1Champ`, `R2Champ`, `R3Champ`, `R4Champ`, `R5Champ`;
- Objetivos e estatísticas do time Azul: `BlueBaronKills`, `BlueRiftHeraldKills`, `BlueDragonKills`, `BlueTowerKills`, `BlueKills`;
- Objetivos e estatísticas do time Vermelho: `RedBaronKills`, `RedRiftHeraldKills`, `RedDragonKills`,`RedTowerKills`, `RedKills`;
- Resultados: `BlueWin` (1 se o Azul ganhou, 0 se perdeu), `RedWin` (1 se o Vermelho ganhou, 0 se perdeu).

Vamos usar `BlueWin` como variável alvo (target) e algumas estatísticas dos dois times como features.

In [ ]:
# Variável alvo: se o time Azul ganhou a partida
target_col = "BlueWin"

# Features escolhidas: estatísticas dos dois times
feature_cols = [
    "BlueKills",
    "RedKills",
    "BlueBaronKills",
    "RedBaronKills",
    "BlueRiftHeraldKills",
    "RedRiftHeraldKills",
    "BlueDragonKills",
    "RedDragonKills",
    "BlueTowerKills",
    "RedTowerKills"
]

# Criar dataframe apenas com essas colunas e remover linhas com NaN
df_model = df[[target_col] + feature_cols].dropna()

df_model.head()